Source: ros-kilted-sick-safetyscanners-base
Section: misc
Priority: optional
Maintainer: "Christian Eichmann" <eichmann@fzi.de>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-chrono-dev, libboost-system-dev, libboost-thread-dev, ros-kilted-ros-workspace
Homepage: https://index.ros.org/p/sick_safetyscanners_base/#kilted
Standards-Version: 3.9.2

Package: ros-kilted-sick-safetyscanners-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-chrono-dev, libboost-system-dev, libboost-thread-dev, ros-kilted-ros-workspace
Description: Provides an Interface to read the sensor output of a SICK Safety Scanner
