Source: ros-lyrical-sick-safetyscanners-base
Section: misc
Priority: optional
Maintainer: Lennart Puck <puck@fzi.de>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-chrono-dev, libboost-system-dev, libboost-thread-dev, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/sick_safetyscanners_base/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-sick-safetyscanners-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-chrono-dev, libboost-system-dev, libboost-thread-dev, ros-lyrical-ros-workspace
Description: Provides an Interface to read the sensor output of a SICK Safety Scanner
